html {
    background-color: #023742;
}

body {
    max-width: 1200px;
    margin: auto;

    font-family: 'Nunito', sans-serif;
}

nav {
    margin: 10px 10px 20px 20px;
    padding-bottom: 10px;
}

.nav-left {
    display: flex;
    float: left;
}

.nav-right {
    display: flex;
    float: right;
}

.nav {
    margin: 10px;
}

h1 {
    text-align: center;
    color: white;
}

p {
    color: white;
}

.character {
    width: 290px;
    height: 400px;
    margin: 5px;

    float: left;

    text-align: center;
    background-color: #38ABB2;
}

.index-image {
    align-content: center;
    max-width: 250px;
}

.link-button {
    color: white;
    background-color: #D2A73E;
}
