html {
    background-color: #023742;
}

body {
    margin: auto;

    background-color: #023742;
    color: white;

    font-family: 'Nunito', sans-serif;
}

header {
    margin: auto;
    padding-bottom: 20px;

    background-color: #38ABB2;
    font-size: 20px;
}

main {
    max-width: 1200px;
    margin: auto;
}

nav {
    margin: 10px 10px 20px 20px;
    padding-bottom: 10px;
}

.nav-left {
    display: flex;
    float: left;
}

.nav-right {
    display: flex;
    float: right;
}

.nav-right-logout {
    display: flex;
    float: right;
    padding-top: 10px;
}

.nav {
    margin: 10px;

    background-color: #38ABB2;
}

input {
    color: black;
}

select {
    color: black;
}

.submit {
    color: black;
}

h1 {
    text-align: center;
    color: white;
}

p {
    font-size: 20px;

    color: white;
}

a {
    color: #ffffff;
    background-color: #38ABB2;
    text-decoration: none;
}

a:hover {
    color: #023742;
    background-color: #38ABB2;
    text-decoration: none;
}

.character {
    width: 290px;
    height: 430px;
    margin: 5px;

    float: left;

    text-align: center;
    background-color: #38ABB2;
}

.image {
    max-width: 1200px;
}

.index-image {
    align-content: center;
    max-width: 250px;
}

.detail-image {
    align-content: center;
    max-width: 500px;
}

.links {
    background-color: #D2A73E;
}

.link-button {
    color: white;
    background-color: #D2A73E;

    font-size: 20px;
}

.link-button:hover {
    color: #797979;
    background-color: #D2A73E;

    font-size: 20px;
}

.favourite {
    background-color: #D2A73E;
}

.unFavourite {
    background-color: #D2A73E;
}

.favourite-button {
    border: none;

    color: white;
    background-color: #D2A73E;

    font-size: 20px;
}

.detail {
    padding-top: 20px;
}

.big-image {
    padding-top: 20px;
}

.detail-image {
    float: left;
    padding-right: 100px;
}

.info {
    float: left;
}

.favourites {
    float: left;
}

.creations {
    float: left;
}
